h1.center {
    text-align: center;   
}

div.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form .form-group {
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.register-link {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

body {
    background-color: #ffe6f0
}

header h1 {
    color: #00008B;
    margin-top: 10px;
    text-align: center;
}

header h2 {
    text-align: center;
    color: #7878b4;
}

.nav {
  position: fixed; 
  top: 20px; 
  left: 20px; 
  padding: 10px; 
}

.table { 
    table {
        border: 1px solid;
        text-align: center;
      }
}