body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #b1dddd; 
    color: #333; 
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1{
    text-align: center;
    margin-bottom: 20px;
}

.navbar {
    background-color: #ff00bb; 
    color: #fff; 
    padding: 20px 0;
    text-align: center;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.navbar-subtext {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.form-control {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
}

.form-control-2 {
    width: 40%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.form-control-2:focus {
    border-color: #007bff;
    outline: none;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 3px solid #ddd;
}

.table th {
    background-color: #f8f9fa;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.alert-primary {
    background-color: #cce5ff;
    color: #004085;
    border: 1px solid #b8daff;
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;

}
.register-link {
    text-align: center;
}

.login-buttons {
    text-align: center;
}

.admin-nav {
    background-color: #c8dff6; 
    padding: 15px;
    border-radius: 4px;
}

.admin-nav a {
    color: #f1e0e0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.admin-nav a:hover {
    color: #aed2f8; /* Blue color on hover */
}
