{% extends "layout.html" %}
{% block title %} The Improv Spot {% endblock %}

{% block main %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>About Us</h1>
        <p>Welcome to the improv spot! We host weekly drop-in improv classes for everyone. Attend our classes to explore and expand your capabilities as an actor. 

            Our goal is to grow a community of like-minded individuals that share a passion for improv. Become a member today and unlock your true potential!!</p>
        <p></p>
    </div>
</body>
</html>

{% endblock %}