{% extends "layout.html" %}
{% block title %} Classes {% endblock %}

{% block main %}
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Class</th>
                <th>Registration</th>
            </tr>
        </thead>
        
        {% for week in weeks %}
            <tr>
                <td>Week {{week[0]}}    -    {{week[1]}}</td>
                <td>
                    {% if (week[0] in status) and (status[week[0]][1] != 0) %}
                    <p> You Have Already Paid</p>
                    {% elif (week[0] in status) and (status[week[0]][1] == 0) %}
                    <form method="GET" action="/payment">
                        <input type="hidden" name="week" value="{{ week[0] }}">
                        <button type="submit" class="btn btn-primary">Pay</button>
                    </form>
                    {% else %}
                        <form method="GET" action="/payment">
                            <input type="hidden" name="week" value="{{ week[0] }}">
                            <button type="submit" class="btn btn-primary">Register and Pay</button>
                        </form>
                        <form method="POST" action="/account" onsubmit="return confirmUpdate('{{ week[0] }}', '{{ payment }}')">
                            <button type="submit" name="{{ week[0] }}" class="btn btn-primary">Register Now</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <script>
        function confirmUpdate(week, price) {
            // Display a confirmation dialog
            var msg = "Are you sure you want to register for week " + week + "?";
            var confirmed = confirm(msg);
            return confirmed;
        }
    </script>

{% endblock %}