{% extends "layout.html" %}
{% block title %} The Improv Spot {% endblock %}

{% block main %}
    <div class="container">
        <form method="POST"  action="/contact">
            <br>
            <div class="mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" name = 'name' id="name" required></input>
            </div>
            <br>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name = 'email' id="email" required></input>
              </div>
            <br>
            <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" name = 'message' id="message" rows="0"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
    </div>
</body>
</html>

{% endblock %}