{% extends "layout.html" %}

{% block title %} Finances {% endblock %}

{% block main %}
  <br>
    <div class="center">
        <h1>Financial Information</h1>
        <table class="table">
          <tr>
            <td>Lifetime Profit</td>
            <td>{{ lt_profit }}</td>
          </tr>
          <tr>
            <td>Lifetime Income</td>
            <td>{{ lt_income }}</td>
          </tr>
          <tr>
            <td>Lifetime Expenses</td>
            <td>{{ lt_expenses }}</td>
          </tr>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Month</th>
                    <th scope="col">Income</th>
                    <th scope="col">Expenses</th>
                    <th scope="col">Profit</th>
                </tr>
            </thead>
            <tbody>    
                {% for month in finance_info %}
                <tr>
                    <td>{{ month.month_year }}</td>
                    <td>{{ month.income_users }}</td> <!-- change to month.income when db is changed-->
                    <td>{{ month.expenses_hall }}</td>
                    <td>{{ month.calculate_profit() }} </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        
{% endblock %}