{% extends "layout.html" %}

{% block title %} Tester {% endblock %}

{% block main %}
    <header>
        <h1 class="display-3">The Improv Spot</h1>
        <h2 class="h5"> IMPROVing your life one class at a time!</h2>
        <ul class="nav justify-content-left">
            <li class="nav-item">
              <a class="nav-link active" href="#"><i class="fas fa-home"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login/Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Contact</a>
            </li>
          </ul>   
    </header>
    <br>
    <div class="center">
        <h1>Financial Information</h1>
        <table class="table">
          <tr>
            <td>Lifetime Profit</td>
            <td>{{ helpers.calculate_total_profit(finance_info) }}</td>
          </tr>
          <tr>
            <td>Lifetime Income</td>
            <td>{{ helpers.calculate_total_income(finance_info) }}</td>
          </tr>
          <tr>
            <td>Lifetime Expences</td>
            <td>{{ helpers.calculate_total_expenses(finance_info) }}</td>
          </tr>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Month</th>
                    <th scope="col">Income</th>
                    <th scope="col">Expenses</th>
                    <th scope="col">Profit</th>
                </tr>
            </thead>
            <tbody>    
                {% for month in finance_info %}
                <tr>
                    <td>{{ month.month_year }}</td>
                    <td>{{ month.profit }}</td> <!-- change to month.income when db is changed-->
                    <td>{{ month.expenses }}</td>
                    <td>{{ helpers.calculate_month_profit(month) }} </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        
{% endblock %}
